<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <link rel="stylesheet" herf="css/style.css">
  <title>
    fortune teller
  </title>
    
  </head>
  <body>
    <h3>get a fortune</h3>
    <h4>what is your name?</h4>
    <form method=POST>
      <input type="text" name="user">
      <br>
      <input type="submit" value="get youre fortune">
      </form>
  </body>
</html>
