<!DOCTYPE html>
<html>
  <head>
    <meta charset="UFT-8">
    <title> fortune </title>
  </head>
  <body> 
  <h3>ur fortune</h3>
  <h4>hi, <%=@the_user%>, ur fortune is <%=@the_fortune%></h4>
  </body>
</html>